<input [(ngModel)]="searchTerm" placeholder="Cerca un cocktail per nome..." />
<button (click)="search()">Cerca</button>

<input [(ngModel)]="ingredientSearchTerm" placeholder="Cerca un cocktail per ingrediente..." />
<button (click)="search()">Cerca per ingrediente</button>

<button (click)="getRandomCocktail()">Mi sento fortunato</button>


<div *ngIf="cocktails">
  <app-cocktail *ngFor="let cocktail of cocktails"></app-cocktail>
</div>

<ng-template #noResults>
  <p>Nessun risultato trovato per '{{ searchTerm }}'.</p>
</ng-template>



<div *ngIf="randomCocktail; else noResults">
  <app-cocktail [cocktails]="randomCocktail"></app-cocktail>
</div>

<div *ngIf="ingredientCocktails.length > 0; else noIngredientResults">
  <div *ngFor="let cocktail of ingredientCocktails">
    <app-cocktail [cocktails]="cocktail"></app-cocktail>
  </div>
</div>

<ng-template #noIngredientResults>
  <p>Nessun risultato trovato per l'ingrediente '{{ ingredientSearchTerm }}'.</p>
</ng-template>

<ng-template #noResults>
  <p>Nessun risultato trovato per '{{ searchTerm }}'.</p>
</ng-template>
