
  <div class="input-container" *ngIf="!showResults"> 
  <input [(ngModel)]="searchTerm" placeholder="Cerca un cocktail per nome..." />
  <button (click)="searchCocktail()">Cerca</button>

  <input [(ngModel)]="ingredientSearchTerm" placeholder="Cerca un cocktail per ingrediente..." />
  <button (click)="searchCocktailByIngredient()">Cerca per ingrediente</button>

  <button (click)="getRandomCocktail()">Mi sento fortunato</button>
</div>

<div *ngIf="cocktailsByName || ingredientCocktails || randomCocktail" class="main-container">
  <app-list [cocktails]="cocktailsByName"></app-list>
  <app-list [cocktails]="ingredientCocktails"></app-list>
  <app-list [cocktails]="randomCocktail" *ngIf="randomCocktail"></app-list>

</div>
