<div *ngIf="cocktails" class="card">
   <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title> {{ cocktails.strDrink }} - </mat-card-title>
      <mat-card-subtitle>Ingredients: 
        {{ cocktails.strIngredient1 }}
        {{ cocktails.strIngredient2 }}
        {{ cocktails.strIngredient3 }}
        {{ cocktails.strIngredient4 }}
        {{ cocktails.strIngredient5 }}
        {{ cocktails.strIngredient6 }}
        {{ cocktails.strIngredient7 }}
        {{ cocktails.strIngredient9 }}
        {{ cocktails.strIngredient8 }}
        {{ cocktails.strIngredient10 }}
        {{ cocktails.strIngredient11 }}
        {{ cocktails.strIngredient12 }}
        {{ cocktails.strIngredient13 }}
        {{ cocktails.strIngredient14 }}
        {{ cocktails.strIngredient15 }}

      </mat-card-subtitle>
    </mat-card-header>
    <img *ngIf="cocktails.strDrinkThumb"  mat-card-image src="{{cocktails.strDrinkThumb}}" alt="Photo of Cocktail">
    <mat-card-content>
        <span *ngIf="cocktails.strInstructions"> Istruzioni: {{cocktails.strInstructions}}</span>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
   </div>