

html, body { height: 100%; 
   }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
   
    background-image: url(../src/assets/bg1.jpg) !important;
    background-size: cover;
    background-attachment: fixed;
   
}